<%= render 'shared/banner' %>
<%= render 'shared/search_form' %>

<div class="container">

  <div class="stretch">
    <h2 style="color:white; font-weight: bold;">TO DO : VALUE PROPOSITION WITH PICTO</h2>
  </div>
</div>

  <div class="univers">
    <h2>
      Univers<i class="fas fa-circle"></i>
    </h2>
  </div>

<div class="container">

  <div class="genres">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= image_tag 'hip-hop.jpg', class:"card" %>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= image_tag 'techno.jpg', class:"card" %>
        </div>


        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= image_tag 'Electro-01.jpg', class:"card" %>
        </div>
      </div>
  </div>


  <div class="stretch"></div>
  <div class="stretch"></div>
</div>

  <div class="features">
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/90787841">
    </iframe>

  </div>

</div>
